:root, [data-bs-theme=light] {
  --bs-primary: #cb1f27;
  --bs-primary-rgb: 203,31,39;
  --bs-primary-text-emphasis: #510C10;
  --bs-primary-bg-subtle: #F5D2D4;
  --bs-primary-border-subtle: #EAA5A9;
  --bs-secondary: #007aff;
  --bs-secondary-rgb: 0,122,255;
  --bs-secondary-text-emphasis: #003166;
  --bs-secondary-bg-subtle: #CCE4FF;
  --bs-secondary-border-subtle: #99CAFF;
  --bs-success: #2e963f;
  --bs-success-rgb: 46,150,63;
  --bs-success-text-emphasis: #123C19;
  --bs-success-bg-subtle: #D5EAD9;
  --bs-success-border-subtle: #ABD5B2;
  --bs-info: #ffbd1b;
  --bs-info-rgb: 255,189,27;
  --bs-info-text-emphasis: #664C0B;
  --bs-info-bg-subtle: #FFF2D1;
  --bs-info-border-subtle: #FFE5A4;
  --bs-dark: #000000;
  --bs-dark-rgb: 0,0,0;
  --bs-dark-text-emphasis: #000000;
  --bs-dark-bg-subtle: #CCCCCC;
  --bs-dark-border-subtle: #999999;
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0,0,0;
  --bs-tertiary-bg: #161616;
  --bs-tertiary-bg-rgb: 22,22,22;
  --bs-body-font-family: Figtree, sans-serif;
  --bs-body-font-size: 1.3rem;
  --bs-link-color: #ffbd1b;
  --bs-link-color-rgb: 255,189,27;
  --bs-link-hover-color: #ffd56e;
  --bs-link-hover-color-rgb: 255,213,110;
  --bs-link-decoration: none;
  --bs-focus-ring-color: rgba(244,66,55,0.25);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #cb1f27;
  --bs-btn-border-color: #cb1f27;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #AD1A21;
  --bs-btn-hover-border-color: #A2191F;
  --bs-btn-focus-shadow-rgb: 247,221,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A2191F;
  --bs-btn-active-border-color: #98171D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #cb1f27;
  --bs-btn-disabled-border-color: #cb1f27;
}

.btn-outline-primary {
  --bs-btn-color: #cb1f27;
  --bs-btn-border-color: #cb1f27;
  --bs-btn-focus-shadow-rgb: 203,31,39;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cb1f27;
  --bs-btn-hover-border-color: #cb1f27;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cb1f27;
  --bs-btn-active-border-color: #cb1f27;
  --bs-btn-disabled-color: #cb1f27;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cb1f27;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #007aff;
  --bs-btn-border-color: #007aff;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #268EFF;
  --bs-btn-hover-border-color: #1987FF;
  --bs-btn-focus-shadow-rgb: 0,18,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #3395FF;
  --bs-btn-active-border-color: #1987FF;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #007aff;
  --bs-btn-disabled-border-color: #007aff;
}

.btn-outline-secondary {
  --bs-btn-color: #007aff;
  --bs-btn-border-color: #007aff;
  --bs-btn-focus-shadow-rgb: 0,122,255;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #007aff;
  --bs-btn-hover-border-color: #007aff;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #007aff;
  --bs-btn-active-border-color: #007aff;
  --bs-btn-disabled-color: #007aff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #007aff;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #2e963f;
  --bs-btn-border-color: #2e963f;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #4DA65C;
  --bs-btn-hover-border-color: #43A152;
  --bs-btn-focus-shadow-rgb: 7,23,9;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #58AB65;
  --bs-btn-active-border-color: #43A152;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #2e963f;
  --bs-btn-disabled-border-color: #2e963f;
}

.btn-outline-success {
  --bs-btn-color: #2e963f;
  --bs-btn-border-color: #2e963f;
  --bs-btn-focus-shadow-rgb: 46,150,63;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #2e963f;
  --bs-btn-hover-border-color: #2e963f;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #2e963f;
  --bs-btn-active-border-color: #2e963f;
  --bs-btn-disabled-color: #2e963f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2e963f;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffbd1b;
  --bs-btn-border-color: #ffbd1b;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFC73D;
  --bs-btn-hover-border-color: #FFC432;
  --bs-btn-focus-shadow-rgb: 38,28,4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFCA49;
  --bs-btn-active-border-color: #FFC432;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffbd1b;
  --bs-btn-disabled-border-color: #ffbd1b;
}

.btn-outline-info {
  --bs-btn-color: #ffbd1b;
  --bs-btn-border-color: #ffbd1b;
  --bs-btn-focus-shadow-rgb: 255,189,27;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffbd1b;
  --bs-btn-hover-border-color: #ffbd1b;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffbd1b;
  --bs-btn-active-border-color: #ffbd1b;
  --bs-btn-disabled-color: #ffbd1b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffbd1b;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
}

.btn-outline-dark {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
}

a {
  text-decoration: var(--bs-link-decoration);
  text-decoration: var(--bs-link-decoration);
}

[data-bs-theme=dark] {
  --bs-success: #2e963f;
  --bs-success-rgb: 46,150,63;
  --bs-success-text-emphasis: #82C08C;
  --bs-success-bg-subtle: #091E0D;
  --bs-success-border-subtle: #1C5A26;
  --bs-info: #ffbd1b;
  --bs-info-rgb: 255,189,27;
  --bs-info-text-emphasis: #FFD776;
  --bs-info-bg-subtle: #332605;
  --bs-info-border-subtle: #997110;
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0,0,0;
  --bs-link-color: #ffbd1b;
  --bs-link-color-rgb: 255,189,27;
  --bs-link-hover-color: #ffd56e;
  --bs-link-hover-color-rgb: 255,213,110;
  --bs-link-decoration: none;
  --bs-focus-ring-color: rgba(0,0,0,0);
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #2e963f;
  --bs-btn-border-color: #2e963f;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #4DA65C;
  --bs-btn-hover-border-color: #43A152;
  --bs-btn-focus-shadow-rgb: 7,23,9;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #58AB65;
  --bs-btn-active-border-color: #43A152;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #2e963f;
  --bs-btn-disabled-border-color: #2e963f;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #2e963f;
  --bs-btn-border-color: #2e963f;
  --bs-btn-focus-shadow-rgb: 46,150,63;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #2e963f;
  --bs-btn-hover-border-color: #2e963f;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #2e963f;
  --bs-btn-active-border-color: #2e963f;
  --bs-btn-disabled-color: #2e963f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2e963f;
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffbd1b;
  --bs-btn-border-color: #ffbd1b;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFC73D;
  --bs-btn-hover-border-color: #FFC432;
  --bs-btn-focus-shadow-rgb: 38,28,4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFCA49;
  --bs-btn-active-border-color: #FFC432;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffbd1b;
  --bs-btn-disabled-border-color: #ffbd1b;
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: #ffbd1b;
  --bs-btn-border-color: #ffbd1b;
  --bs-btn-focus-shadow-rgb: 255,189,27;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffbd1b;
  --bs-btn-hover-border-color: #ffbd1b;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffbd1b;
  --bs-btn-active-border-color: #ffbd1b;
  --bs-btn-disabled-color: #ffbd1b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffbd1b;
}

.p-3 {
  padding: 1rem!important;
}

.p-4 {
  padding: 1.5rem!important;
}

.px-0 {
  padding-right: 0!important;
  padding-left: 0!important;
}

.px-1 {
  padding-right: .25rem!important;
  padding-left: .25rem!important;
}

.px-2 {
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}

.px-3 {
  padding-right: 1rem!important;
  padding-left: 1rem!important;
}

.px-4 {
  padding-right: 1.5rem!important;
  padding-left: 1.5rem!important;
}

.py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.py-1 {
  padding-top: .25rem!important;
  padding-bottom: .25rem!important;
}

.py-2 {
  padding-top: .5rem!important;
  padding-bottom: .5rem!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.py-5 {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}

.pt-0 {
  padding-top: 0!important;
}

.pt-3 {
  padding-top: 1rem!important;
}

.pt-4 {
  padding-top: 1.5rem!important;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

.pb-0 {
  padding-bottom: 0!important;
}

@media (min-width:768px) {
  .px-md-5 {
    padding-right: 3rem!important;
    padding-left: 3rem!important;
  }
}

@media (min-width:992px) {
  .px-lg-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
  }
}

@media (min-width: 992px) {
  .px-lg-7 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}

@media (min-width:992px) {
  .py-lg-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
}

@media (min-width:992px) {
  .py-lg-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

@media (min-width:1200px) {
  .py-xl-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

