:root, [data-bs-theme=light] {
  --bs-primary: #cb1f27;
  --bs-primary-rgb: 203,31,39;
  --bs-primary-text-emphasis: #510C10;
  --bs-primary-bg-subtle: #F5D2D4;
  --bs-primary-border-subtle: #EAA5A9;
  --bs-success: #2e963f;
  --bs-success-rgb: 46,150,63;
  --bs-success-text-emphasis: #123C19;
  --bs-success-bg-subtle: #D5EAD9;
  --bs-success-border-subtle: #ABD5B2;
  --bs-info: #ffbd1b;
  --bs-info-rgb: 255,189,27;
  --bs-info-text-emphasis: #664C0B;
  --bs-info-bg-subtle: #FFF2D1;
  --bs-info-border-subtle: #FFE5A4;
  --bs-dark: #000000;
  --bs-dark-rgb: 0,0,0;
  --bs-dark-text-emphasis: #000000;
  --bs-dark-bg-subtle: #CCCCCC;
  --bs-dark-border-subtle: #999999;
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0,0,0;
  --bs-body-font-family: Figtree, sans-serif;
  --bs-body-font-size: 1.3rem;
  --bs-link-color: #cb1f27;
  --bs-link-color-rgb: 203,31,39;
  --bs-link-hover-color: #89151a;
  --bs-link-hover-color-rgb: 137,21,26;
  --bs-link-decoration: none;
  --bs-focus-ring-color: rgba(244,66,55,0.25);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #cb1f27;
  --bs-btn-border-color: #cb1f27;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #AD1A21;
  --bs-btn-hover-border-color: #A2191F;
  --bs-btn-focus-shadow-rgb: 247,221,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A2191F;
  --bs-btn-active-border-color: #98171D;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #cb1f27;
  --bs-btn-disabled-border-color: #cb1f27;
}

.btn-outline-primary {
  --bs-btn-color: #cb1f27;
  --bs-btn-border-color: #cb1f27;
  --bs-btn-focus-shadow-rgb: 203,31,39;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #cb1f27;
  --bs-btn-hover-border-color: #cb1f27;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cb1f27;
  --bs-btn-active-border-color: #cb1f27;
  --bs-btn-disabled-color: #cb1f27;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #cb1f27;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #2e963f;
  --bs-btn-border-color: #2e963f;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #4DA65C;
  --bs-btn-hover-border-color: #43A152;
  --bs-btn-focus-shadow-rgb: 7,23,9;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #58AB65;
  --bs-btn-active-border-color: #43A152;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #2e963f;
  --bs-btn-disabled-border-color: #2e963f;
}

.btn-outline-success {
  --bs-btn-color: #2e963f;
  --bs-btn-border-color: #2e963f;
  --bs-btn-focus-shadow-rgb: 46,150,63;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #2e963f;
  --bs-btn-hover-border-color: #2e963f;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #2e963f;
  --bs-btn-active-border-color: #2e963f;
  --bs-btn-disabled-color: #2e963f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2e963f;
}

.btn-info {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffbd1b;
  --bs-btn-border-color: #ffbd1b;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFC73D;
  --bs-btn-hover-border-color: #FFC432;
  --bs-btn-focus-shadow-rgb: 38,28,4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFCA49;
  --bs-btn-active-border-color: #FFC432;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffbd1b;
  --bs-btn-disabled-border-color: #ffbd1b;
}

.btn-outline-info {
  --bs-btn-color: #ffbd1b;
  --bs-btn-border-color: #ffbd1b;
  --bs-btn-focus-shadow-rgb: 255,189,27;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffbd1b;
  --bs-btn-hover-border-color: #ffbd1b;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffbd1b;
  --bs-btn-active-border-color: #ffbd1b;
  --bs-btn-disabled-color: #ffbd1b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffbd1b;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000000;
  --bs-btn-disabled-border-color: #000000;
}

.btn-outline-dark {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 0,0,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #000000;
}

[data-bs-theme=dark] {
  --bs-success: #2e963f;
  --bs-success-rgb: 46,150,63;
  --bs-success-text-emphasis: #82C08C;
  --bs-success-bg-subtle: #091E0D;
  --bs-success-border-subtle: #1C5A26;
  --bs-info: #ffbd1b;
  --bs-info-rgb: 255,189,27;
  --bs-info-text-emphasis: #FFD776;
  --bs-info-bg-subtle: #332605;
  --bs-info-border-subtle: #997110;
  --bs-body-bg: #000000;
  --bs-body-bg-rgb: 0,0,0;
  --bs-link-color: #cb1f27;
  --bs-link-color-rgb: 203,31,39;
  --bs-link-hover-color: #89151a;
  --bs-link-hover-color-rgb: 137,21,26;
  --bs-link-decoration: none;
  --bs-focus-ring-color: rgba(255,189,27,0.25);
}

[data-bs-theme=dark] .btn-success, .btn-success[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #2e963f;
  --bs-btn-border-color: #2e963f;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #4DA65C;
  --bs-btn-hover-border-color: #43A152;
  --bs-btn-focus-shadow-rgb: 7,23,9;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #58AB65;
  --bs-btn-active-border-color: #43A152;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #2e963f;
  --bs-btn-disabled-border-color: #2e963f;
}

[data-bs-theme=dark] .btn-outline-success, .btn-outline-success[data-bs-theme=dark] {
  --bs-btn-color: #2e963f;
  --bs-btn-border-color: #2e963f;
  --bs-btn-focus-shadow-rgb: 46,150,63;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #2e963f;
  --bs-btn-hover-border-color: #2e963f;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #2e963f;
  --bs-btn-active-border-color: #2e963f;
  --bs-btn-disabled-color: #2e963f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #2e963f;
}

[data-bs-theme=dark] .btn-info, .btn-info[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ffbd1b;
  --bs-btn-border-color: #ffbd1b;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FFC73D;
  --bs-btn-hover-border-color: #FFC432;
  --bs-btn-focus-shadow-rgb: 38,28,4;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FFCA49;
  --bs-btn-active-border-color: #FFC432;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ffbd1b;
  --bs-btn-disabled-border-color: #ffbd1b;
}

[data-bs-theme=dark] .btn-outline-info, .btn-outline-info[data-bs-theme=dark] {
  --bs-btn-color: #ffbd1b;
  --bs-btn-border-color: #ffbd1b;
  --bs-btn-focus-shadow-rgb: 255,189,27;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ffbd1b;
  --bs-btn-hover-border-color: #ffbd1b;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ffbd1b;
  --bs-btn-active-border-color: #ffbd1b;
  --bs-btn-disabled-color: #ffbd1b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ffbd1b;
}

